.navbar{
    display: flex;
    justify-content: space-between;
    
}




.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 10px;
    padding: 20px;

}

.nav-links a{
    color: rgb(108, 102, 102);
    text-decoration: none;
}
.nav-links:hover{
    color: rgb(93, 89, 89);
}

.button-1{
    background-color: rgb(59, 59, 220);
    color: white;
    border-radius: 5px;
    border: none;
    margin: 20px;
    padding: 10px;
} 
/* Navbar Style end */

/* Hero Section Start  */

.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 100%;
    background-image: url(./B14-A01-DevConf-2026/assets/banner.jpg);
    background-size: cover;
    background-position: center;
}
    


.hero-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;

}
.hero-text h1{
    font-size: 40px;
    font-weight: 900px;
    font-family: sans-serif;
    font-style: italic;
    color: white;
}
.hero-text p{
    color: white;
    align-items: center;
}
/* hero section style end */

/* meet the speakers section style */

.img-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    }

    .speaker-1{
        color: rgb(30, 30, 230);
        font-size: small;
        font-family: sans-serif;
        font-weight: 600;
    }

    .speaker-role{
        color: gray;
        font-family: sans-serif;
    }

    .img-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        background-color: white;
        margin: 15px;
        padding: 15px;
        border-radius: 20px;
        border: 1px solid rgb(221, 214, 214);
    }

    .img-box img{
        width: 100%;
        height: auto;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .heading{
        text-align: center;
        
        font-family: sans-serif;
        font-weight: bold;
    }

    

